<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="Website Icon" type="png" href="/ressources/terrace-restaurant-logo-vector-removebg-preview.png">
        <link rel="stylesheet" href="/css/start.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/gallery.css">
        <link rel="stylesheet" href="/css/roadmap.css">
        <link rel="stylesheet" href="/css/about-index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://db.onlinewebfonts.com/c/9017bffaa47f04c9e55128a89e7d28ee?family=Vectora+LT+W01+95+Black" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link href="https://fonts.cdnfonts.com/css/headline" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Restaurant</title>
    </head>
<body>
   <%-include ('navbar.ejs');-%>
   <%-include ('landing-page.ejs');-%>
   <%-include ('gallery.ejs');-%>
   <%-include ('about-index.ejs');-%>

   <%-include ('roadmap.ejs');-%>

    <!-- <%-include ('pagemethod1.ejs');-%> -->
   <!-- <%-include ('staff.ejs');-%> -->
   <%-include ('footer.ejs');-%>
    <script src="/js/code.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/navbarscrolled.js"></script>
    <script>
        const backtos = () => {
	window.location.href = '/signup';
  }
    </script>
</body>
</html>